/* ^ Start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-text: #111111;
    --color-bg: #4c64f2;
    --color-1: #b8d3ff;
}

html {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}



/* ^ Utilities */
.hidden {
    display: none;
}

.fitImg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pointer {
    cursor: pointer
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ^ General */
#container {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin: 0 auto;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    width: 100%;
    text-align: center;
    background-color: var(--color-1);
    padding: 16px;
    border-radius: 16px;
}



/* ^ Header */
#title {
    font-size: 20px;
    text-transform: uppercase;
}



/* ^ Info */
#infoBlock {
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

#location {
    font-size: 28px;
    text-transform: uppercase;
}

#weatherImg {
    transition: opacity 0.5s, translate 1s;
}

#temperatureText {
    font-size: 90px;
    font-weight: 500;
}



/* ^ Suggestion */
#suggestionBlock {
    transition: scale 1s;
}

#suggestionText {
    font-size: 20px;
    font-weight: 600;
}



/* ^ Loading */
#loading {
    #weatherImg {
		opacity: 0;
		translate: 0 30px;
	}

	#suggestionBlock {
		scale: 0;
	}
}